body {
  background-color: #d4a373;
}

img {
  max-width: 100%;
  margin-top: 45px;
}

.content {
  min-height: calc(100vh - 77px - 15px);
}

span {
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: 85px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #faedcd;
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.iniciar {
  margin-bottom: 8px;
  background: #faedcd;
  color: #bc6c25;
  border: none;
  border-radius: 10px;
  padding: 8px;
}

.pausar {
  background: #faedcd;
  color: #bc6c25;
  border: none;
  border-radius: 10px;
  padding: 8px;
}
